body {
    background-color: lightgreen;
    background-image: url("images/grass.png");
}

.sjs {
    background: #f0f0f0;
    background-image: url("images/blacktop.png");
    border: 1px #333 solid;
    margin: auto;
    width: 1920px;
    padding: 10px;
}

#topBar {
    height: 80px;
    width: 100%;
}

#title{
    background-image: url("images/title.png");
    background-repeat: no-repeat;
    width: 320px;
    height: 80px;
    margin: auto;
}

#score {
    position: fixed;
    top: 50px;
    color: green;
    z-index: 1;
    font-size: 24;
    background-color: lightgreen;
    padding: 4px;
}

#pause {
    position: fixed;
    left: 0;
    padding: 2px;
    margin: 5px;
    z-index: 1;
}

#resume {
    position: fixed;
    left: 0;
    padding: 2px;
    margin: 5px;
    z-index: 1;
    display: none;
}

.button {
    background-color: #4CAF50; /* Green */
    font-size: 16pt;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}