body {
    background-color: lightgreen;
}

.sjs {
    background: #f0f0f0;
    background-image: url("images/blacktop.png");
    border: 1px #333 solid;
    margin: auto;
    width: 1920px;
    padding: 10px;
}

#school {
    background-image: url("images/school.png");
    background-repeat: no-repeat;
    width: 1920px;
    height: 200px;
    padding-top: 2000px;
    margin: auto;
}

.button {
    background-color: #4CAF50; /* Green */
    font-size: 16pt;
    float: right;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}